@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress-gradient {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress-gradient {
  animation: progress-gradient 2s linear infinite;
}
